# Clé API Groq : https://console.groq.com/keys
GROQ_API_KEY=""

# ID Google Sheet : chaîne entre /d/ et /edit dans l'URL du Sheet
GOOGLE_SHEET_ID=""

# Chemin vers le JSON du compte de service Google Cloud
# Exemple Windows : C:/Imen/alternance/expense-tracker/credentials/expense-agent.json
GOOGLE_SERVICE_ACCOUNT_JSON=""

# Optionnel : ID d'un dossier Google Drive où stocker les images
# Si vide, les images seront uploadées dans le Drive du compte de service
GOOGLE_DRIVE_FOLDER_ID=""

# Modèle demandé dans le TP
GROQ_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"
